body {
  width: 1440px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

a:hover {
  color: crimson;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  padding: 24px 156px;
  margin: 0;
  gap: 24px;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.sl-wrapper {
  background: #2E2F42CC;
}

